body {
	background-image: url("tribute_background.jpg ");
}
.jumbotron {
	padding-top: 5px;
	padding-bottom: 15px;
	text-align: center;
	opacity: 0.5;
	text-shadow: 0.25px 0.25px 0.25px #000000;
	: 1.0;
}
h1 {
	font-family: "Georgia";
	text-decoration: underline;
}
h3 {
	font-family: "Georgia";
	text-decoration: underline;
}
h4 {
	font-family: "Georgia";
}
li {
	font-family: "Georgia";
	text-align: "left";
}
