.jumbotron {
	padding-top: 5px;
	padding-bottom: 15px;
	text-align: center;
}
h1 {
	font-family: "Georgia";
	text-decoration: underline;
}
h3 {
	font-family: "Georgia";
	text-decoration: underline;
}
h4 {
	font-family: "Georgia";
}
p {
	font-family: "Georgia";
	text-align: "left";
}